@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');


* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --brugerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;

    --background_color: rgb(240, 218, 180);

    --text_color: rgb(29, 59, 73);

    --footer_color: rgb(18, 105, 104);

}


/* HÄR BÖRJAR START-SIDAN*/


.hamburger {

    display: none;
    cursor: pointer;

}

.footer_text {

    color: var(--background_color);
}

.line {

    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: var(--background_color);
    border-radius: 20%;

}

.menu {

    display: flex;
    width: 400px;
    justify-content: space-between;
    list-style: none;

}

.menu_item {

    color: var(--background_color);
    font-family: crimson-text-regular;
    
}

.log_in {

    color: var(--background_color);
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;

}

.page_title {

    color: var(--background_color);
    font-size: 150px;
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
}

.shop_item_text {

    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;

}

.article_title {

    font-size: 30px;
    margin: 10px;
}

.shop_img {

    height: 300px;
}

button {

    
    height: 35px;
    width: 110px;
    border-radius: 15px;
    background:none;
    border: 1.7px solid var(--text_color);
    font-size: 18px;
    margin: 10px;
    color: var(--text_color);
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    color: var(--text_color);
}

a {

    text-decoration: none;
    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    color: var(--text_color);
    
}


p {

    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    margin: 10px;
    color: var(--text_color);
}

h1 {

    font-family: "Crimson Text", serif;
    font-weight: 500;
    font-style: normal;
    color: var(--text_color);

}

h2 {

    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
    margin: 10px;
    color: var(--text_color);

}

h3 {

    color: var(--text_color);
}

footer {

    background-color: var(--footer_color);

}

#start_body {

    background-color: beige;
    display: grid;
    grid-template-rows: 600px 500px 550px 100px;
    grid-template-areas: 
    "start_div1"
    "start_div2"
    "start_div3"
    "start_foot";
    
}


#start_div1 {

    background-image: url(/img/surfing1.jpg);
    background-size: 1300px ;
    grid-area: start_div1;
    display: grid; 
    grid-template-rows: 50px 1.5px 1fr ;
    grid-template-areas:
     "start_nav"
     "start_line"
     "start_tit";

}


#start_nav {

    grid-area: start_nav ;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

#start_line{

    background-color: var(--background_color);
    grid-area: "start_line";
}


#start_title {

    grid-area: start_tit;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#start_div2 {

    background-color: darkseagreen;
    grid-area: start_div2;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 500px;
    grid-template-areas: "start_text start_img"

}

#selling_text {

    background-color: var(--background_color);
    grid-area: start_text;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 50px;
}

#selling {

    font-size: 40px;
}



#start_img {

    background-color: var(--background_color);
    grid-area: start_img;
    display: flex;
    justify-content: center;
    align-items: center;
}

#first_img {

    height: 400px;
}

#start_div3 {

    background-color: cornflowerblue;
    grid-area: start_div3;
    display: grid;
    grid-template-columns: 1fr 0.8fr 1fr;
    grid-template-rows: 425px 1fr;
    grid-template-areas: 
    "news1 news2 news3"
    "nycol nycol nycol"
    ;
    
}

#news_img1 {

    grid-area: news1;
    background-color: var(--background_color);
    display: flex;
    align-items:end;
    justify-content: flex-end;

}

#news_img2 {

    grid-area: news2;
    background-color: var(--background_color);
    display: flex;
    align-items: end;
    justify-content: center;

}

#news_img3 {

    grid-area: news3;
    background-color: var(--background_color);
    display: flex;
    align-items: end;
    justify-content: start;

}

#news_title {

    grid-area: nycol;
    background-color: var(--background_color);
    display: flex;
    align-items: center;
    justify-content: center;

}

#news_h3 {

    font-family: "Crimson Text", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
    color: var(--text_color);

}

.news_image_middle {

    height: 400px;
    
}

.news_image_side {

    height: 380px;
}


#start_footer {

    grid-area: start_foot;


}


/* HÄR BÖRJAR SHOP-SIDAN*/



#shop_body{

    background-color: beige;
    display: grid;
    grid-template-rows: 600px 100px 800px 100px ;
    grid-template-areas: 
    "shop_div1"
    "shop_div2"
    "shop_div3"
    "shop_foot"
    ;

}

#shop_div1 {

    grid-area: shop_div1;
    background-image: url(/img/surfing4.jpg);
    background-size: 1300px;
    background-position-y: -30px;
    display: grid; 
    grid-template-rows: 50px 1.5px 1fr;
    grid-template-areas:
    "shop_nav"
    "shop_line"
    "shop_tit";

}

#shop_nav {

    
    grid-area: shop_nav ;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

#shop_line{
    
    background-color: var(--background_color);
    grid-area: "shop_line";
}


#shop_title {

    
    grid-area: shop_tit;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



#shop_div2 {

    background-color: var(--background_color);
    grid-area: shop_div2;
    display: flex;
    justify-content: center;
    align-items: center;

}

#products_title {

    font-family: "Crimson Text", serif;
    font-weight: 600;
    font-style: normal;
    font-size: 35px;
}

#shop_div3 {

    background-color: cyan;
    grid-area: shop_div3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "item1 item2 item3 item4"
    "item5 item6 item7 item8";

}

.shop_item {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: var(--background_color);
}


.shop_item_text_holder {

    width: 240px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;

    
}

.price {
    color: brown;
}

#shop_item1 {
    
    grid-area: item1;
}

#shop_item2 {

    grid-area: item2;
}

#shop_item3 {

    grid-area: item3;
}

#shop_item4 {

    grid-area: item4;
}

#shop_item5 {

    grid-area: item5;
}

#shop_item6 {

    grid-area: item6;
}

#shop_item7 {

    grid-area: item7;
}

#shop_item8 {

    grid-area: item8;
}



#shop_foot {


    grid-area: shop_foot;
    
}




/* HÄR BÖRJAR ABOUT-SIDAN*/

#about_body{

    background-color: beige;
    display: grid;
    grid-template-rows: 600px 1400px 100px ;
    grid-template-areas: 
    "about_div1"
    "about_div2"
    "about_foot";
    
}

#about_div1 {

    grid-area: about_div1;
    background-image: url(/img/surfing2.jpg);
    background-size: 1300px ;
    background-position-y: -50px ;
    display: grid; 
    grid-template-rows: 50px 1.5px 1fr;
    grid-template-areas:
     "about_nav"
     "about_line"
     "about_tit";
}

#about_nav {

    
    grid-area: about_nav ;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;

}

#about_line{
    
    background-color: var(--background_color);
    grid-area: "about_line";
}



#about_title {

    
    grid-area: about_tit;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#about_div2 {

    background-color: var(--background_color);
    grid-area: about_div2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "about_img1 about_art1"
    "about_art2 about_img2";

}



#about_img1 {

    background-color: var(--background_color);
    grid-area: about_img1;
    display: flex;
    align-items: center;
    justify-content: center;


}



#about_img2 {

    background-color: var(--background_color);
    grid-area: about_img2 ;
    display: flex;
    align-items: center;
    justify-content: center;

}

.about_img {

    height: 600px;
}

#about_article1 {

    background-color: var(--background_color);
    grid-area: about_art1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
}

#about_article2 {

    background-color: var(--background_color);
    grid-area: about_art2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 60px;
    
    
}


#about_footer {

    grid-area: about_foot;

}



/* HÄR BÖRJAR COMMISIONS-SIDAN*/

#c_body {

    background-color: blue;
    display: grid;
    grid-template-rows: 600px 1100px 100px;
    grid-template-areas: 
    "div1"
    "div2"
    "footer";
}

#div1 {

    background-image: url(/img/surfing6.jpg);
    background-size: 1300px;
    background-position-y: -20px ;
    display: grid;
    grid-template-rows: 50px 1.5px 1fr;
    grid-template-areas: 
    "nav"
    "line"
    "tit";
}

#nav {

    grid-area: nav;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
   
}

#c_line{
    
    background-color: var(--background_color);
    grid-area: "line";
}



#title {

    grid-area: tit;
    display: flex;
    justify-content: center;
    align-items: center;
}



#div2 {

    background-color: var(--background_color);
    grid-area: div2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas: 
    "tit tit"
    "ar1 ar2"
    "txt img";
}

#title_wrapper {

    grid-area: tit;
    background-color: var(--background_color);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    
}

#tailor_title {

    font-size: 35px;
}

#text_wrapper1 {

    grid-area: ar1;
    background-color: var(--background_color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-left: 100px ;
    padding-right: 40px;

}

#text_wrapper2 {

    grid-area: ar2;
    background-color: var(--background_color);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-left: 40px ;
    padding-right: 100px;
    
}

#contact_txt {

    grid-area: txt;
    background-color: var(--background_color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
    padding-left: 70px;


}

#contact_title {

    font-size: 35px;
}

#img_wrapper {

    grid-area: img;
    background-color: var(--background_color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#necklace_img {

    height: 450px;
    position: relative;
    right: 25px;
}

#footer {

    grid-area: footer;


}











@media screen and (max-width:738px){

    .hamburger {

        display: block;

    }

    .hamburger.active .line:nth-child(2) {

        opacity: 0;
    }

    .hamburger.active .line:nth-child(1) {

        transform: translateY(8px) rotate(45deg);

    }

    .hamburger.active .line:nth-child(3) {

        transform: translateY(-8px) rotate(-45deg);
    }
    
    .menu {

        position: absolute;
        left: 100%;
        top:50px;
        flex-direction: column;
        align-items: center;
        background-color: var(--background_color);
        width: 170px;
        height: 350px;
        transition: 0.3s;   
        padding: 20px;
        opacity: 70%;
        display:none;
    }


    .menu.active {

        left: 0;
        display: flex;

    }

    .menu_item {

        color: var(--footer_color);
        font-weight: 700;
        
    }

    li {

        width: 80px;
    }

    .page_title {

        color: var(--background_color);
        font-size: 80px;
        font-family: "Crimson Text", serif;
        font-weight: 500;
        font-style: normal;
    }

    

    #start_body {

        background-color: beige;
        display: grid;
        grid-template-rows: 400px 500px 550px 150px;
        grid-template-areas: 
        "start_div1"
        "start_div2"
        "start_div3"
        "start_foot";
        
    }
    
    
    
    #start_div2 {
    
        background-color: darkseagreen;
        grid-area: start_div2;
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 500px;
        grid-template-areas: "start_text"
    
    }

    
    #start_img {
    
        display: none;
        
    }

    #selling_text {

        padding: 25px;
    }

    #selling {

        width: 350px;
    }
    
    
    

    #start_div3 {
    
        background-color: cornflowerblue;
        grid-area: start_div3;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 425px 1fr;
        grid-template-areas: 
        "news1"
        "nycol"
        ;
        
    }
    
    #news_img1 {
    
        grid-area: news1;
        background-color: var(--background_color);
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    #news_img2 {
    
        grid-area: none;
        background-color: var(--background_color);
        display: none;
        align-items: end;
        justify-content: center;
    
    }
    
    #news_img3 {
    
        grid-area: none;
        background-color: var(--background_color);
        display: none;
        align-items: end;
        justify-content: start;
    
    }
    
    #news_title {
    
        grid-area: nycol;
        background-color: var(--background_color);
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    #news_h3 {
    
        font-family: "Crimson Text", serif;
        font-weight: 700;
        font-style: normal;
        font-size: 35px;
        color: var(--text_color);
        width: 450px;
    }
    
    .news_image_middle {
    
        height: 400px;
        
    }
    
    .news_image_side {
    
        height: 380px;
    }
    
    
    #start_footer {
    
        grid-area: start_foot;
    
    }



    
    
    #shop_body{

        background-color: beige;
        display: grid;
        grid-template-rows: 400px 100px 3000px 150px ;
        grid-template-areas: 
        "shop_div1"
        "shop_div2"
        "shop_div3"
        "shop_foot";
    }


    #shop_div3 {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7"
        "item8";
        margin: 0px;
    
    }
    
    #about_body{
  
        grid-template-rows: 400px 2900px 150px ;
        
    }

    #about_div2 {

       
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 3fr 3fr 3fr;
        grid-template-areas: 
        "about_art1"
        "about_img1"
        "about_art2" 
        "about_img2";
    }

    
    #c_body {

        grid-template-rows: 400px 2000px 150px;
    
    }

    #div2 {

        grid-template-columns: 1fr;
        grid-template-rows: 150px 1fr 1fr 0.8fr 0.7fr;
        grid-template-areas: 
        "tit"
        "ar2" 
        "ar1"
        "img "
        "txt";
    }

    
    #tailor_title {

        font-size: 30px;
        width: 500px;
    }

    #text_wrapper1 {

        align-items: center;
        padding: 60px;
        
    
    }
    
    #text_wrapper2 {

        align-items: center;
        padding: 60px;
        
    }
    
    #contact_txt {
    
        grid-area: txt;
        background-color: var(--background_color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 60px;
        padding: 0px
    } 

}   