* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    --brugerline_width: 30px;
    --burgerline_height: 6px;
    --burgerline_margin: 5px;

    --background_color: rgb(240, 218, 180);

}


/* HÄR BÖRJAR START-SIDAN*/


.hamburger {

    display: none;
    cursor: pointer;

}

.line {

    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
    border-radius: 20%;

}

.menu {

    display: flex;
    width: 400px;
    justify-content: space-between;
    list-style: none;

}


#start_body {

    background-color: beige;
    display: grid;
    grid-template-rows: 500px 500px 500px 100px;
    grid-template-areas: 
    "start_div1"
    "start_div2"
    "start_div3"
    "start_foot";
    
}

#start_div1 {

    background-color: brown;
    grid-area: start_div1;
    display: grid; 
    grid-template-rows: 50px 450px ;
    grid-template-areas:
     "start_nav"
     "start_tit";

}

#start_nav {

    grid-area: start_nav ;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}


#start_title {

    grid-area: start_tit;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


#start_div2 {

    background-color: darkseagreen;
    grid-area: start_div2;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 500px;
    grid-template-areas: "start_text start_img"

}

#selling_text {

    background-color: darkorchid;
    grid-area: start_text;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#shop_button {

    background-color: brown;
    height: 40px;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#start_img {

    background-color: coral;
    grid-area: start_img;
    display: flex;

}

#start_div3 {

    background-color: cornflowerblue;
    grid-area: start_div3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 450px 50px;
    grid-template-areas: 
    "news1 news2 news3"
    "nycol nycol nycol"
    ;
    
}

#news_section1 {

    grid-area: news1;
    background-color: chartreuse;

}

#news_section2 {

    grid-area: news2;
    background-color: darkgreen;

}

#news_section3 {

    grid-area: news3;
    background-color: darkgoldenrod;

}

#news_title {

    grid-area: nycol;
    background-color: deeppink;
    display: flex;
    align-items: center;
    justify-content: center;

}


#start_footer {

    background-color: brown;
    grid-area: start_foot;
    display: flex;
    height: 75px;

}


/* HÄR BÖRJAR SHOP-SIDAN*/



#shop_body{

    background-color: beige;
    display: grid;
    grid-template-rows: 500px 75px 750px 75px ;
    grid-template-areas: 
    "shop_div1"
    "shop_div2"
    "shop_div3"
    "shop_foot"
    ;

}

#shop_div1 {

    background-color: burlywood;
    grid-area: shop_div1;
    display: grid; 
    grid-template-rows: 50px 450px ;
    grid-template-areas:
     "shop_nav"
     "shop_tit";

}

#shop_nav {

    background-color: rgb(78, 131, 118);
    grid-area: shop_nav ;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
}

#shop_title {

    background-color: rgb(210, 144, 196);
    grid-area: shop_tit;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



#shop_div2 {

    background-color: blueviolet;
    grid-area: shop_div2;
    display: flex;
    justify-content: center;
    align-items: center;

}

#shop_div3 {

    background-color: cyan;
    grid-area: shop_div3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "item1 item2 item3 item4"
    "item5 item6 item7 item8";

}

.shop_item {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;

}


.shop_item_text_holder {

    width: 100%;
    display: flex;
    justify-content: space-between;
    
}


#shop_item1 {

    background-color: darkorange;
    grid-area: item1;
}

#shop_item2 {

    background-color: rgb(51, 47, 164);
    grid-area: item2;
}

#shop_item3 {

    background-color: rgb(65, 144, 88);
    grid-area: item3;
}

#shop_item4 {

    background-color: rgb(239, 147, 212);
    grid-area: item4;
}

#shop_item5 {

    background-color: rgb(0, 251, 255);
    grid-area: item5;
}

#shop_item6 {

    background-color: rgb(211, 215, 182);
    grid-area: item6;
}

#shop_item7 {

    background-color: rgb(128, 11, 15);
    grid-area: item7;
}

#shop_item8 {

    background-color: rgb(0, 255, 136);
    grid-area: item8;
}



#shop_foot {

    background-color: darkorange;
    grid-area: shop_foot;
    
}




/* HÄR BÖRJAR ABOUT-SIDAN*/

#about_body{

    background-color: beige;
    display: grid;
    grid-template-rows: 500px 1500px 100px ;
    grid-template-areas: 
    "about_div1"
    "about_div2"
    "about_foot";
    
}

#about_div1 {

    grid-area: about_div1;
    background-color: burlywood;
    display: grid; 
    grid-template-rows: 50px 450px ;
    grid-template-areas:
     "about_nav"
     "about_tit";
}

#about_nav {

    background-color: rgb(78, 131, 118);
    grid-area: about_nav ;
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;

}


#about_title {

    background-color: rgb(210, 144, 196);
    grid-area: about_tit;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#about_div2 {

    background-color: yellow;
    grid-area: about_div2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "about_img1 about_art1"
    "about_art2 about_img2";

}

#about_img1 {

    background-color: rgb(83, 205, 89);
    grid-area: about_img1;
    display: flex;
    align-items: center;
    justify-content: center;


}

#about_img2 {

    background-color: rgb(202, 222, 111);
    grid-area: about_img2 ;
    display: flex;
    align-items: center;
    justify-content: center;

}

#about_article1 {

    background-color: aqua;
    grid-area: about_art1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 75px;
}

#about_article2 {

    background-color: aquamarine;
    grid-area: about_art2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 75px;
    
}



#about_footer {

    background-color: brown;
    grid-area: about_foot;

}



/* HÄR BÖRJAR COMMISIONS-SIDAN*/

#c_body {

    background-color: blue;
    display: grid;
    grid-template-rows: 500px 1250px 100px;
    grid-template-areas: 
    "div1"
    "div2"
    "footer";
}

#div1 {
    background-color: blueviolet;
    display: grid;
    grid-template-rows: 50px 450px;
    grid-template-areas: 
    "nav"
    "tit";
}

#nav {

    grid-area: nav;
    background-color: rgb(78, 131, 118);
    display: flex;
    justify-content: space-between;
    margin: 10px;
    align-items: center;
   
}

#title {

    grid-area: tit;

    background-color: rgb(210, 144, 196);
    display: flex;
    justify-content: center;
    align-items: center;
}

#div2 {

    background-color: brown;
    grid-area: div2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr;
    grid-template-areas: 
    "tit tit"
    "ar2 ar1"
    "txt img";
}

#title_wrapper {

    grid-area: tit;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#article1 {

    grid-area: ar1;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px;

}

#article2 {

    grid-area: ar2;
    background-color: gold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px;
    
}

#contact_txt {

    grid-area: txt;
    background-color: hotpink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;


}

#img_wrapper {

    grid-area: img;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer {

    background-color: cornflowerblue;
    grid-area: footer;


}

@media screen and (max-width:738px){

    .hamburger {

        display: block;

    }

    .hamburger.active .line:nth-child(2) {

        opacity: 0;
    }

    .hamburger.active .line:nth-child(1) {

        transform: translateY(8px) rotate(45deg);

    }

    .hamburger.active .line:nth-child(3) {

        transform: translateY(-8px) rotate(-45deg);
    }
    
    .menu {

        position: absolute;
        left: 100%;
        top:50px;
        flex-direction: column;
        background-color: var(--background_color);
        width: 100%;
        height: 200px;
        transition: 0.3s;   
        padding: 20px;
    }


    .menu.active {

        left: 0;

    }



    #start_body {

        grid-template-rows: 400px 400px 400px 75px;

    }

    #start_div1 {

        grid-template-rows: 40px 360px ;
        
    
    }

    #start_div2 {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 75px;
        
    
    }

    #selling_text {

        height: 170px;
        justify-content: space-evenly;
    }

    #start_img {

        display: none;
    
    }


    #start_div3 {

        background-color: cornflowerblue;
        grid-area: start_div3;
        display: grid;
        grid-template-rows: 350px 50px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "image"
        "title";
        
    }


    #news_section1 {

        grid-area: image;

    }
    
    #news_section2 {

        display: none;
    
    }
    
    #news_section3 {
    
        display: none;
    
    }
   
    
    #news_title {
    
        grid-area: title; 
    
    }



    
    
    #shop_body{

        background-color: beige;
        display: grid;
        grid-template-rows: 400px 50px 3000px 75px ;
        grid-template-areas: 
        "shop_div1"
        "shop_div2"
        "shop_div3"
        "shop_foot";
    }


    #shop_div3 {

        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4"
        "item5"
        "item6"
        "item7"
        "item8";
        margin: 100px;
    
    }
    
    #about_body{
  
        grid-template-rows: 500px 2750px 100px ;
        
    }

    #about_div2 {

       
        grid-template-columns: 1fr;
        grid-template-rows: 4fr 3fr 4fr 3fr;
        grid-template-areas: 
        "about_art1"
        "about_img1"
        "about_art2" 
        "about_img2";
    }

    #c_body {

        grid-template-rows: 500px 1500px 100px;
    
    }

    #div2 {

        grid-template-columns: 1fr;
        grid-template-rows: 100px 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "tit"
        "ar2" 
        "ar1"
        "txt "
        "img";
    }

   
}